@font-face {
    font-family: 'SF-UI-Display-Black_2';
    src: url('../fonts/SF-UI-Display-Black_2.eot');
    src: url('../fonts/SF-UI-Display-Black_2.woff2') format('woff2'),
    url('../fonts/SF-UI-Display-Black_2.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIDisplay-Black.woff') format('woff'),
    url('../fonts/SFUIDisplay-Black.ttf') format('truetype'),
    url('../fonts/SFUIDisplay-Black.svg#SFUIDisplay-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-UI-Display-Bold_1';
    src: url('../fonts/SF-UI-Display-Bold_1.eot');
    src: url('../fonts/SF-UI-Display-Bold_1.woff2') format('woff2'),
    url('../fonts/SF-UI-Display-Bold_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIDisplay-Bold.woff') format('woff'),
    url('../fonts/SFUIDisplay-Bold.ttf') format('truetype'),
    url('../fonts/SFUIDisplay-Bold.svg#SFUIDisplay-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-UI-Display-Heavy_1';
    src: url('../fonts/SF-UI-Display-Heavy_1.eot');
    src: url('../fonts/SF-UI-Display-Heavy_1.woff2') format('woff2'),
    url('../fonts/SF-UI-Display-Heavy_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIDisplay-Heavy.woff') format('woff'),
    url('../fonts/SFUIDisplay-Heavy.ttf') format('truetype'),
    url('../fonts/SFUIDisplay-Heavy.svg#SFUIDisplay-Heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-UI-Display-Regular_1';
    src: url('../fonts/SF-UI-Display-Regular_1.eot');
    src: url('../fonts/SF-UI-Display-Regular_1.woff2') format('woff2'),
    url('../fonts/SF-UI-Display-Regular_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIDisplay-Regular.woff') format('woff'),
    url('../fonts/SFUIDisplay-Regular.ttf') format('truetype'),
    url('../fonts/SFUIDisplay-Regular.svg#SFUIDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-UI-Display-Semibold_1';
    src: url('../fonts/SF-UI-Display-Semibold_1.eot');
    src: url('../fonts/SF-UI-Display-Semibold_1.woff2') format('woff2'),
    url('../fonts/SF-UI-Display-Semibold_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIDisplay-Semibold.woff') format('woff'),
    url('../fonts/SFUIDisplay-Semibold.ttf') format('truetype'),
    url('../fonts/SFUIDisplay-Semibold.svg#SFUIDisplay-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-UI-Display-Thin_1';
    src: url('../fonts/SF-UI-Display-Thin_1.eot');
    src: url('../fonts/SF-UI-Display-Thin_1.woff2') format('woff2'),
    url('../fonts/SF-UI-Display-Thin_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIDisplay-Thin.woff') format('woff'),
    url('../fonts/SFUIDisplay-Thin.ttf') format('truetype'),
    url('../fonts/SFUIDisplay-Thin.svg#SFUIDisplay-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-UI-Text-Bold_1';
    src: url('../fonts/SF-UI-Text-Bold_1.eot');
    src: url('../fonts/SF-UI-Text-Bold_1.woff2') format('woff2'),
    url('../fonts/SF-UI-Text-Bold_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIText-Bold.woff') format('woff'),
    url('../fonts/SFUIText-Bold.ttf') format('truetype'),
    url('../fonts/SFUIText-Bold.svg#SFUIText-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'SF-UI-Text-Heavy_1';
    src: url('../fonts/SF-UI-Text-Heavy_1.eot');
    src: url('../fonts/SF-UI-Text-Heavy_1.woff2') format('woff2'),
    url('../fonts/SF-UI-Text-Heavy_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIText-Heavy.woff') format('woff'),
    url('../fonts/SFUIText-Heavy.ttf') format('truetype'),
    url('../fonts/SFUIText-Heavy.svg#SFUIText-Heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-UI-Text-HeavyItalic_1';
    src: url('../fonts/SF-UI-Text-HeavyItalic_1.eot');
    src: url('../fonts/SF-UI-Text-HeavyItalic_1.woff2') format('woff2'),
    url('../fonts/SF-UI-Text-HeavyItalic_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIText-HeavyItalic.woff') format('woff'),
    url('../fonts/SFUIText-HeavyItalic.ttf') format('truetype'),
    url('../fonts/SFUIText-HeavyItalic.svg#SFUIText-HeavyItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-UI-Text-Light_1';
    src: url('../fonts/SF-UI-Text-Light_1.eot');
    src: url('../fonts/SF-UI-Text-Light_1.woff2') format('woff2'),
    url('../fonts/SF-UI-Text-Light_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIText-Light.woff') format('woff'),
    url('../fonts/SFUIText-Light.ttf') format('truetype'),
    url('../fonts/SFUIText-Light.svg#SFUIText-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'SF-UI-Text-MediumItalic_1';
    src: url('../fonts/SF-UI-Text-MediumItalic_1.eot');
    src: url('../fonts/SF-UI-Text-MediumItalic_1.woff2') format('woff2'),
    url('../fonts/SF-UI-Text-MediumItalic_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIText-MediumItalic.woff') format('woff'),
    url('../fonts/SFUIText-MediumItalic.ttf') format('truetype'),
    url('../fonts/SFUIText-MediumItalic.svg#SFUIText-MediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-UI-Text-Regular_1';
    src: url('../fonts/SF-UI-Text-Regular_1.eot');
    src: url('../fonts/SF-UI-Text-Regular_1.woff2') format('woff2'),
    url('../fonts/SF-UI-Text-Regular_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIText-Regular.woff') format('woff'),
    url('../fonts/SFUIText-Regular.ttf') format('truetype'),
    url('../fonts/SFUIText-Regular.svg#SFUIText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-UI-Display-Light_1';
    src: url('../fonts/SF-UI-Display-Light_1.eot');
    src: url('../fonts/SF-UI-Display-Light_1.woff2') format('woff2'),
    url('../fonts/SF-UI-Display-Light_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIDisplay-Light.woff') format('woff'),
    url('../fonts/SFUIDisplay-Light.ttf') format('truetype'),
    url('../fonts/SFUIDisplay-Light.svg#SFUIDisplay-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-UI-Display-Ultralight_1';
    src: url('../fonts/SF-UI-Display-Ultralight_1.eot');
    src: url('../fonts/SF-UI-Display-Ultralight_1.woff2') format('woff2'),
    url('../fonts/SF-UI-Display-Ultralight_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIDisplay-Ultralight.woff') format('woff'),
    url('../fonts/SFUIDisplay-Ultralight.ttf') format('truetype'),
    url('../fonts/SFUIDisplay-Ultralight.svg#SFUIDisplay-Ultralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-UI-Text-BoldItalic_1';
    src: url('../fonts/SF-UI-Text-BoldItalic_1.eot');
    src: url('../fonts/SF-UI-Text-BoldItalic_1.woff2') format('woff2'),
    url('../fonts/SF-UI-Text-BoldItalic_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIText-BoldItalic.woff') format('woff'),
    url('../fonts/SFUIText-BoldItalic.ttf') format('truetype'),
    url('../fonts/SFUIText-BoldItalic.svg#SFUIText-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-UI-Text-Italic_1';
    src: url('../fonts/SF-UI-Text-Italic_1.eot');
    src: url('../fonts/SF-UI-Text-Italic_1.woff2') format('woff2'),
    url('../fonts/SF-UI-Text-Italic_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIText-RegularItalic.woff') format('woff'),
    url('../fonts/SFUIText-RegularItalic.ttf') format('truetype'),
    url('../fonts/SFUIText-RegularItalic.svg#SFUIText-RegularItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-UI-Text-Medium_1';
    src: url('../fonts/SF-UI-Text-Medium_1.eot');
    src: url('../fonts/SF-UI-Text-Medium_1.woff2') format('woff2'),
    url('../fonts/SF-UI-Text-Medium_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIText-Medium.woff') format('woff'),
    url('../fonts/SFUIText-Medium.ttf') format('truetype'),
    url('../fonts/SFUIText-Medium.svg#SFUIText-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-UI-Text-Semibold_1';
    src: url('../fonts/SF-UI-Text-Semibold_1.eot');
    src: url('../fonts/SF-UI-Text-Semibold_1.woff2') format('woff2'),
    url('../fonts/SF-UI-Text-Semibold_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIText-Semibold.woff') format('woff'),
    url('../fonts/SFUIText-Semibold.ttf') format('truetype'),
    url('../fonts/SFUIText-Semibold.svg#SFUIText-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-UI-Text-SemiboldItalic_1';
    src: url('../fonts/SF-UI-Text-SemiboldItalic_1.eot');
    src: url('../fonts/SF-UI-Text-SemiboldItalic_1.woff2') format('woff2'),
    url('../fonts/SF-UI-Text-SemiboldItalic_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIText-SemiboldItalic.woff') format('woff'),
    url('../fonts/SFUIText-SemiboldItalic.ttf') format('truetype'),
    url('../fonts/SFUIText-SemiboldItalic.svg#SFUIText-SemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-UI-Display-Medium_1';
    src: url('../fonts/SF-UI-Display-Medium_1.eot');
    src: url('../fonts/SF-UI-Display-Medium_1.woff2') format('woff2'),
    url('../fonts/SF-UI-Display-Medium_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIDisplay-Medium.woff') format('woff'),
    url('../fonts/SFUIDisplay-Medium.ttf') format('truetype'),
    url('../fonts/SFUIDisplay-Medium.svg#SFUIDisplay-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

