/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
body {
  background-color: #2b2b2b;
}

/* line 13, ../sass/screen.scss */
header {
  font-family: 'SF-UI-Text-Regular_1';
  background-color: #bf1c22;
}
/* line 16, ../sass/screen.scss */
header .navbar {
  width: 100%;
  padding: 15px 60px;
}
/* line 21, ../sass/screen.scss */
header .navbar-nav {
  font-size: 18pt;
  margin-left: 200px;
}
/* line 24, ../sass/screen.scss */
header .navbar-nav .nav-item {
  padding: 0 10px;
}
/* line 27, ../sass/screen.scss */
header .navbar-nav .nav-item:not(:last-child) {
  border-right: 1px solid #fff;
}
/* line 31, ../sass/screen.scss */
header .nav-item a {
  color: white !important;
}
/* line 35, ../sass/screen.scss */
header .right .langs {
  min-width: 100%;
}
/* line 37, ../sass/screen.scss */
header .right .langs a {
  color: #bf1c22 !important;
  border-bottom: 1px solid;
}
/* line 40, ../sass/screen.scss */
header .right .langs a:hover {
  background: none;
}
/* line 46, ../sass/screen.scss */
header .right ul > li {
  border-right: 1px solid #fff;
}
/* line 49, ../sass/screen.scss */
header .right .sign-reg {
  margin-left: 18px;
  border: 1px solid rgba(255, 255, 255, 0.71);
}
/* line 52, ../sass/screen.scss */
header .right .sign-reg > div {
  padding: 10px 25px;
}
/* line 54, ../sass/screen.scss */
header .right .sign-reg > div.active, header .right .sign-reg > div:hover {
  background-color: #fff;
}
/* line 56, ../sass/screen.scss */
header .right .sign-reg > div.active a, header .right .sign-reg > div:hover a {
  color: #bf1c22;
}
/* line 62, ../sass/screen.scss */
header .right .sign-reg a {
  text-decoration: none;
  color: white;
}
/* line 68, ../sass/screen.scss */
header .right a {
  font-size: 14pt;
}

/* line 75, ../sass/screen.scss */
.slider-banner {
  margin: 20px 0;
}
/* line 77, ../sass/screen.scss */
.slider-banner .banner {
  position: relative;
}
/* line 79, ../sass/screen.scss */
.slider-banner .banner .banner-ads {
  position: absolute;
  bottom: 18px;
  right: 13px;
}
/* line 83, ../sass/screen.scss */
.slider-banner .banner .banner-ads a:first-of-type {
  margin-bottom: 4px;
}
/* line 86, ../sass/screen.scss */
.slider-banner .banner .banner-ads img {
  width: auto;
  height: 42px;
}
/* line 93, ../sass/screen.scss */
.slider-banner .banner > img {
  width: 100%;
  height: 340px;
  object-fit: cover;
}
/* line 98, ../sass/screen.scss */
.slider-banner .slider img {
  width: 100%;
  height: 340px;
  object-fit: cover;
}
/* line 103, ../sass/screen.scss */
.slider-banner .slider {
  position: relative;
}
/* line 105, ../sass/screen.scss */
.slider-banner .slider .owl-nav {
  position: absolute;
  right: 0;
  bottom: 10px;
}
/* line 109, ../sass/screen.scss */
.slider-banner .slider .owl-nav > div {
  background: none;
}
/* line 111, ../sass/screen.scss */
.slider-banner .slider .owl-nav > div:hover {
  background: none;
}

/* line 121, ../sass/screen.scss */
.your-tip .single-tip {
  background-color: #1c1c1c;
  width: 100%;
  text-align: center;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
/* line 130, ../sass/screen.scss */
.your-tip .single-tip .bottom {
  font-family: 'SF-UI-Text-Regular_1';
  background-color: #94181d;
  padding: 9px;
  color: white;
  font-size: 12pt;
  text-transform: uppercase;
}
/* line 138, ../sass/screen.scss */
.your-tip .single-tip .top {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  height: 135px;
}
/* line 146, ../sass/screen.scss */
.your-tip .single-tip .title {
  font-family: 'SF-UI-Text-Italic_1';
  font-size: 11pt;
  color: #ccc;
  margin-top: 18px;
}
/* line 152, ../sass/screen.scss */
.your-tip .single-tip.active, .your-tip .single-tip:hover {
  background-color: #bf1c22;
  cursor: pointer;
}
/* line 155, ../sass/screen.scss */
.your-tip .single-tip.active .bottom, .your-tip .single-tip:hover .bottom {
  background-color: rgba(148, 24, 29, 0.44);
}
/* line 160, ../sass/screen.scss */
.your-tip img {
  width: auto !important;
}

/* line 168, ../sass/screen.scss */
.featured-games .all-featured h3 {
  font-family: 'SF-UI-Text-Semibold_1';
  font-size: 18pt;
  padding: 20px 15px;
  background-color: #101010;
  color: #fff;
  margin: 20px 0;
  text-transform: uppercase;
}
/* line 178, ../sass/screen.scss */
.featured-games .all-featured .single-game {
  width: 100%;
  background-color: black;
  height: 200px;
}
/* line 183, ../sass/screen.scss */
.featured-games .all-featured .single-game .cup {
  width: 30%;
  color: #c1c1c1;
  font-family: 'SF-UI-Text-Regular_1';
}
/* line 187, ../sass/screen.scss */
.featured-games .all-featured .single-game .cup .month {
  font-size: 12pt;
  padding-top: 17px;
  padding-bottom: 10px;
}
/* line 192, ../sass/screen.scss */
.featured-games .all-featured .single-game .cup .time {
  font-size: 20pt;
}
/* line 196, ../sass/screen.scss */
.featured-games .all-featured .single-game .team {
  width: 70%;
  position: relative;
}
/* line 199, ../sass/screen.scss */
.featured-games .all-featured .single-game .team .bg-team {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* line 204, ../sass/screen.scss */
.featured-games .all-featured .single-game .team .tm2 {
  margin-top: 50px;
}
/* line 207, ../sass/screen.scss */
.featured-games .all-featured .single-game .team .team1 {
  font-family: 'SF-UI-Text-Medium_1';
  font-size: 11pt;
  color: #fff;
}
/* line 211, ../sass/screen.scss */
.featured-games .all-featured .single-game .team .team1 .title {
  flex: auto;
  margin-left: 5px;
}
/* line 216, ../sass/screen.scss */
.featured-games .all-featured .single-game .team .team1 .rate {
  font-weight: bold;
}
/* line 223, ../sass/screen.scss */
.featured-games .all-featured .single-game .team .all-team {
  position: absolute;
  top: 0;
  padding: 20px;
  color: white;
  bottom: 0;
  right: 0;
  left: 0;
}
/* line 232, ../sass/screen.scss */
.featured-games .all-featured .single-game .team .tip-now {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
/* line 236, ../sass/screen.scss */
.featured-games .all-featured .single-game .team .tip-now a {
  font-family: 'SF-UI-Text-Bold_1';
  font-size: 12pt;
  color: #bf1c22;
  padding: 10px 12px;
  background-color: #fff;
  text-decoration: none;
}

/* line 250, ../sass/screen.scss */
.upcoming-events {
  font-family: 'SF-UI-Text-Semibold_1';
}
/* line 252, ../sass/screen.scss */
.upcoming-events h3 {
  font-size: 18pt;
  padding: 20px 15px;
  background-color: #101010;
  color: #fff;
  margin: 20px 0;
  text-transform: uppercase;
}
/* line 260, ../sass/screen.scss */
.upcoming-events .nav-tabs {
  border-bottom: none;
}
/* line 263, ../sass/screen.scss */
.upcoming-events .nav-tabs .nav-item .nav-link {
  font-size: 17pt;
  color: #bf1c22;
}
/* line 266, ../sass/screen.scss */
.upcoming-events .nav-tabs .nav-item .nav-link span.icon {
  font-size: 25pt;
  vertical-align: middle;
}
/* line 270, ../sass/screen.scss */
.upcoming-events .nav-tabs .nav-item .nav-link:hover, .upcoming-events .nav-tabs .nav-item .nav-link:focus {
  border-color: #bf1c22;
  border-radius: 0;
}
/* line 274, ../sass/screen.scss */
.upcoming-events .nav-tabs .nav-item .nav-link span.title {
  display: none;
}
/* line 277, ../sass/screen.scss */
.upcoming-events .nav-tabs .nav-item .nav-link.active {
  background-color: #bf1c22;
  border-color: #bf1c22;
  color: white;
  border-radius: 0;
}
/* line 282, ../sass/screen.scss */
.upcoming-events .nav-tabs .nav-item .nav-link.active span.title {
  display: inline-block;
}
/* line 285, ../sass/screen.scss */
.upcoming-events .nav-tabs .nav-item .nav-link.active span.icon {
  margin-right: 6px;
  margin-left: 25px;
}
/* line 293, ../sass/screen.scss */
.upcoming-events .tab-pane {
  padding: 0;
}
/* line 296, ../sass/screen.scss */
.upcoming-events .table {
  font-size: 12pt;
}
/* line 298, ../sass/screen.scss */
.upcoming-events .table .vs {
  color: #db383f;
}
/* line 301, ../sass/screen.scss */
.upcoming-events .table tbody tr td:first-of-type, .upcoming-events .table tbody tr td:last-of-type {
  color: #c0c0c0;
}
/* line 305, ../sass/screen.scss */
.upcoming-events .table tr .active {
  background-color: #bf1c22;
}

/* line 312, ../sass/screen.scss */
footer {
  background-color: #101010;
  margin-top: 50px;
}
/* line 315, ../sass/screen.scss */
footer .all-footer {
  margin: 0 auto;
  color: #fff;
}
/* line 318, ../sass/screen.scss */
footer .all-footer .copy {
  font-family: 'SF-UI-Text-Semibold_1';
  font-size: 12pt;
  padding-bottom: 40px;
}
/* line 323, ../sass/screen.scss */
footer .all-footer .logo {
  padding: 40px 5px;
}
/* line 325, ../sass/screen.scss */
footer .all-footer .logo .divide {
  margin: 0 24px;
  width: 1px;
  background-color: #ffffff82;
}
/* line 331, ../sass/screen.scss */
footer .all-footer .social {
  font-size: 24pt;
  margin-top: 90px;
}
/* line 334, ../sass/screen.scss */
footer .all-footer .social a {
  color: #fff;
  margin: 0 6px;
}

@media only screen and (max-width: 1920px) {
  /* line 345, ../sass/screen.scss */
  header .navbar-nav {
    margin: auto;
  }
}
@media only screen and (max-width: 1200px) {
  /* line 353, ../sass/screen.scss */
  header .navbar {
    padding: .5rem 1rem;
  }
  /* line 356, ../sass/screen.scss */
  header .navbar-nav {
    font-size: 12pt;
  }
  /* line 360, ../sass/screen.scss */
  header .right .sign-reg > div {
    padding: 8px 16px;
  }
  /* line 363, ../sass/screen.scss */
  header .right a {
    font-size: 10pt;
  }
}
@media only screen and (max-width: 768px) {
  /* line 376, ../sass/screen.scss */
  header .navbar-nav .nav-item:not(:last-child) {
    border-right: none;
  }
  /* line 380, ../sass/screen.scss */
  header .navbar-nav .nav-item {
    border-bottom: 1px solid #fff;
  }

  /* line 386, ../sass/screen.scss */
  .featured-games .all-featured .single-game {
    margin-bottom: 5px;
  }
  /* line 390, ../sass/screen.scss */
  .featured-games .all-featured h3 {
    font-size: 16pt;
  }
  /* line 393, ../sass/screen.scss */
  .featured-games .all-featured .single-game .team .tip-now a {
    font-size: 10pt;
  }
  /* line 396, ../sass/screen.scss */
  .featured-games .all-featured .single-game .team .team1 {
    font-size: 9pt;
  }
  /* line 399, ../sass/screen.scss */
  .featured-games .all-featured .single-game .cup .month {
    font-size: 10pt;
  }
  /* line 402, ../sass/screen.scss */
  .featured-games .all-featured .single-game .cup .time {
    font-size: 16pt;
  }

  /* line 408, ../sass/screen.scss */
  .upcoming-events .nav-tabs .nav-item .nav-link span.icon {
    font-size: 20pt;
  }
  /* line 411, ../sass/screen.scss */
  .upcoming-events .nav-tabs .nav-item .nav-link.active span.icon {
    margin-left: 0;
  }
  /* line 414, ../sass/screen.scss */
  .upcoming-events .nav-tabs .nav-item .nav-link {
    font-size: 12pt;
  }
  /* line 417, ../sass/screen.scss */
  .upcoming-events h3 {
    font-size: 16pt;
  }
}
@media only screen and (max-width: 480px) {
  /* line 429, ../sass/screen.scss */
  footer .all-footer .copy {
    font-size: 10pt;
  }

  /* line 434, ../sass/screen.scss */
  .upcoming-events .nav-tabs .nav-item .nav-link span.icon {
    font-size: 18pt;
  }
  /* line 437, ../sass/screen.scss */
  .upcoming-events .nav-tabs .nav-item .nav-link {
    font-size: 10pt;
  }
  /* line 440, ../sass/screen.scss */
  .upcoming-events h3 {
    font-size: 14pt;
  }
}
@media only screen and (max-width: 320px) {
  /* line 448, ../sass/screen.scss */
  footer .all-footer .copy {
    font-size: 8pt;
  }
}
